

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-bg-navbar{
  background-color: #28527a;
}

.subtitle{
  color: azure;
}

.navbar-item img {
  max-height: 2.75rem;
}

.button.is-warning.is-outlined {
  background-color: transparent;
  border-color:#28527a;
  color:#28527a;
}



